h1{
    color: red;
    background-color: aqua;
    background-size: 300px 200px;
    text-align: center;

    
    }
    h2{
        color: black;
        background-color: aqua;
        text-align: center;
    }
   